{% extends 'base.html' %}
{% import 'macros.html' as macro%}
<!-- Content block -->
{%block content%}
<div class="container" style="padding-bottom: 20px;">

</div>
<div class="container">
    <h3>
        Random Blogs
    </h3>
    <p>{{postings.quote}}</p>
    <h3>{{postings.author}}</h3>
    <a href="{{postings.permalink}}"> <button>Read More</button></a>


    <h4>Recent Blogs</h4>
    <a href="/subscribe/{{current_user.id}}" class="btn btn-success">Subscribe</a>
    <hr>
    {{macro.displayPosts(posts)}}
</div>
{%endblock%}
